<%= form_for(@exercisehistory) do |f| %>
  <% if @exercisehistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercisehistory.errors.count, "error") %> prohibited this exercisehistory from being saved:</h2>

      <ul>
      <% @exercisehistory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
